@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  letter-spacing: 0.1em;

  color: $color-gray;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  letter-spacing: 0.08em;

  font-family: "Roboto Slab", serif;
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.2em;

@include lg-min {
  font-size: 3.75rem;
}

@include lg-md {
  font-size: 2.5rem;
}

@include md {
  font-size: 1.875rem;
}
}

a {
  text-decoration: none;

  color: $color-light;
}
